# ۱. نادیده گرفتن همه چیز در ریشه
/*

# ۲. باز نگه داشتن خود فایل گیت‌اینور
!.gitignore

# ۳. اجازه ورود به پوشه projects (لازم است تا گیت به زیرمجموعه‌اش نگاه کند)
!projects/

# ۴. اجازه ورود به پوشه practice
!projects/practice/

# ۵. اجازه ردیابی تمام فایل‌های داخل practice
!projects/practice/**
